@media (min-width: $tablet-width) {
  .catalog-list {
    margin: auto;
    max-width: 708px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .catalog-item {
    background-color: #f2f2f2;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    margin: auto;
    max-width: 1220px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }

  .catalog-item {
    background-color: #f2f2f2;
  }
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.catalog-item__title {
  color: $card-poducts-title;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.catalog-item__table {
  font-size: 12px;
  font-family: "Arial", "Helvetica", sans-serif;
}

.catalog-item-all__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.catalog-item-all__button {
  display: block;
  padding: 7px 44px;
  background-color: #f2f2f2;
  color: $main-color-text;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
