.cooperation-wrapper {
  width: 280px;
  margin: auto;
}

.cooperation__title {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.cooperation__description {
  font-size: 14px;
  line-height: 20px;
}
