.form__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin: 0;
}

.form-order {
  border: none;
  margin: 0;
  padding: 0;
}

.form__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.form-order__label {
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form-order__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  padding-bottom: 34px;
}

.form-order__button {
  width: 100%;
  border: none;
  cursor: pointer;
}

.form-order__information,
.form-order__contacts {
  display: flex;
}

.form-order__radio-field {
  margin-bottom: 13px;
}

.form-order__checkbox-field {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.form-order__checkbox-fields {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.form-order__comment textarea {
  width: 100%;
}

@media (min-width: $desktop-width) {
  .form-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form-order__radio-fields {
    width: 568px;
    border: 1px solid #e7e7e7;
  }
}
