.header-menu {
  @media (min-width: $tablet-width) {
    width: 708px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 42px;
  }
}

.header-menu-wrapper {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.header-menu__logo-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-menu__logo-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-menu__logo-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
