@font-face {
  font-family: 'Oswald';
  src: url("/fonts/oswaldmedium.woff") format('woff'),
  url("/fonts/oswaldmedium.woff2") format('woff2'),
  url('/fonts/oswaldregular.woff') format('woff'),
  url('/fonts/oswaldregular.woff2') format('woff2');
  font-weight: 400;
  font-weight: 500;
  font-style: normal;
}

.page__body {
  font-family: 'Oswald', Helvetica, sans-serif;
  width: 320px;
}

.visually-hidden {
  display: none;
}
