.page-footer {
  background-color: #f2f2f2;
  padding-bottom: 32px;
}

.page-footer-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  text-align: center;
  padding-top: 37px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-footer__logo-link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  padding-top: 20px;
  padding-bottom: 18px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-footer__copyright {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.social__list {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.social__item-vk svg {
  width: 22px;
  height: 12px;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__item-insta svg {
  width: 16px;
  height: 16px;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }
}

.social__item-fb svg {
  width: 10px;
  height: 19px;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 12px;
    height: 26px;
  }
}

.academy-link svg {
  width: 40px;
  height: 47px;
  // padding-top: 21px;
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.copyright__description {
  margin: 0;
  // padding-top: 22px;
  font-size: 16px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}
