.page-footer {
  background-color: #f2f2f2;
  padding-bottom: 32px;
}

.page-footer-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  text-align: center;
  padding-top: 37px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 58px;
  }
}

.page-footer__social {
  padding-top: 20px;
  padding-bottom: 18px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-footer__copyright {
  width: 281px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.social__list {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.social__item-vk {
  width: 22px;
  height: 12px;
}

.social__item-insta {
  width: 16px;
  height: 16px;
}

.social__item-fb {
  width: 10px;
  height: 19px;
}

.academy-link {
  width: 40px;
  height: 34px;
  padding-top: 21px;
}

.copyright__description {
  margin: 0;
  padding-top: 22px;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
