@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/oswaldregular.woff") format("woff"),
    url("../fonts/oswaldregular.woff2") format("woff2");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/oswaldmedium.woff") format("woff"),
    url("../fonts/oswaldmedium.woff2") format("woff2");
}

.page-header-wrapper {
  width: 320px;
  margin: 0 auto;
}

.main-nav__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
