@media (min-width: $tablet-width) {
  .preference__list {
    margin: auto;
    max-width: 708px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .preference__list {
    margin: auto;
    max-width: 1220px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}

.preference__title {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  padding-top: 27px;
}

.preference__description {
  color: $main-color-text;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  padding-bottom: 20px;
}
