.preference-wrapper {
  width: 280px;
  margin: 0 auto;
}

.preference__title {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding-top: 27px;
}

.preference__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}
