.programs-item {
  width: 280px;
  background-color: #F2F2F2;
}

.programs-item__title {
  font-size: 24px;
  text-align: center;
}

.programs-item__description {
  font-family: Arial, Helvetica, sans-serif;
  width: 227px;
  font-size: 14px;
  color: #444444;
  margin: 0 auto;
}

.programs-item__link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
