.result {
  background-color: #eaeaea;
}

.result-wrapper {
  width: 280px;
  margin: 0 auto;
}

.result__title {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  padding-top: 27px;
}

.result__description {
  font-size: 14px;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 25px;
  color: $main-color-text;
}

.result__stats-item {
  display: inline;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.result__food-costs {
  text-align: center;
}
