body {
  font-family: "Oswald", "Helvetica", sans-serif;
}

p {
  font-family: "Arial", "Helvetica", sans-serif;
}

.visually-hidden {
  display: none;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

$button-color : #68b738;
